modules = ["dotnet-9.0", "nodejs-22"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CloudOps Dev Server"

[[workflows.workflow]]
name = "CloudOps Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash scripts/dev.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5056
externalPort = 3000

[[ports]]
localPort = 33605
externalPort = 5000

[[ports]]
localPort = 34983
externalPort = 4200

[[ports]]
localPort = 35413
externalPort = 3002

[[ports]]
localPort = 40335
externalPort = 6800

[[ports]]
localPort = 42897
externalPort = 3003

[[ports]]
localPort = 43515
externalPort = 6000

[[ports]]
localPort = 45851
externalPort = 3001

[[ports]]
localPort = 45861
externalPort = 5173

[nix]
channel = "stable-25_05"
