@page
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url=/SignedOut" />
</head>
<body>
    <script>
        window.location.href = '/SignedOut';
    </script>
</body>
</html>
